:root {
  /*using color pallette*/
  --color1: #eeeeee;
  --color2: #dddddd;
  --color3: #1166ee;
  --color4: #222222;
  --color5: #111111;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color5);
  color: var(--color1);
}

#navbar > ul {
  position: fixed;
  width: 100%;
  min-height: 75px;
  top: 0;
  list-style-type: none; /* menghiangkan bullet pada list */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--color5);
}

#navbar > ul > li > .nav-link {
  text-decoration: none; /* Menghilangkan underline pada link */
  color: var(--color4);
  padding: 10px;
  border-radius: 25px;
}

#navbar > ul > li > .nav-link:hover {
  color: var(--color1);
  background-color: var(--color4);
}

.fa-bars {
  color: var(--color3);
  font-size: 3em;
  text-align: right;
}

.center {
  text-align: center;
}

/*Home*/

#home {
  width: 100%;
  height: 100vh;
  margin-top: 100px;
}

#home .welcome {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#home .welcome .profile-picture {
  border-right: 1px solid var(--color4);
  display: grid;
  justify-content: center;
  align-content: center;
}

#home .welcome .greeting {
  display: grid;
  justify-content: center;
  align-content: center;
}

#home .welcome .photo-profile {
  height: 300px;
}

/*Projects*/
.my-work .project {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;

  /*
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  grid-gap: 0.5rem;
  width: 95%;
  height: auto;
  */
}

.my-work .project .project-card {
  width: 300px;
  height: 280px;
  padding: 10px;
  display: grid;
  grid-template-areas:
    "preview preview"
    "project-title project-title"
    "preview-site view-code";
  justify-items: center;
  row-gap: 0;
  border-radius: 10px;
}

.my-work .project .project-card .project-title {
  grid-area: project-title;
  margin: 0;
}

.my-work .project .project-card .preview {
  grid-area: preview;
  width: 300px;
  height: 180px;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.2s; /* Animation */
}

.my-work .project .project-card .preview:hover {
  transform: scale(1.5); /*zoom image on hover*/
}

.my-work .project .project-card .preview-site {
  grid-area: preview-site;
  text-decoration: none;
  background-color: var(--color4);
  color: var(--color2);
  width: 120px;
  height: 22px;
  padding: 10px;
  text-align: center;
  border-radius: 45px;
}

.my-work .project .project-card .preview-site:hover {
  background-color: var(--color2);
  color: var(--color5);
}

.my-work .project .project-card .view-code {
  grid-area: view-code;
  text-decoration: none;
  background-color: var(--color4);
  color: var(--color2);
  width: 120px;
  height: 22px;
  padding: 10px;
  text-align: center;
  border-radius: 45px;
}

.my-work .project .project-card .view-code:hover {
  background-color: var(--color2);
  color: var(--color5);
}
