:root {
  /*using color pallette*/
  --color1: #eeeeee;
  --color2: #dddddd;
  --color3: #1166ee;
  --color4: #222222;
  --color5: #111111;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color5);
  color: var(--color1);
}
/* start, hamburger menu */

#menuToggle {
  display: block;
  position: fixed;
  top: 50px;
  right: 30px;
  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: var(--color2);
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: var(--color3);
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*create bars of hamburger menu*/
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: var(--color4);
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:hover {
  background: var(--color2);
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/*Transform all the slices of hamburger into a crossmark*/
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: var(--color1);
}

/*hide the middle one*/
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*the last one should go the other direction*/
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/* Make this absolute positioned full at the right side of the screen */
#menu {
  position: absolute;
  width: 300px;
  height: 100vh;
  margin: -100px 0 0 100px;
  padding: 50px;
  padding-top: 125px;
  background: var(--color4);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 100% 0%;
  transform: translate(100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px;
  font-size: 18px;
  border-radius: 15px;
  color: var(--color2);
  width: fit-content;
}

#menu li:hover {
  background-color: var(--color5);
  color: var(--color1);
}

/*slide the menu from the right*/
#menuToggle input:checked ~ ul {
  transform: translateX(-100%);
}

.center {
  text-align: center;
}

/*Home*/

#home {
  width: 100%;
  height: 100vh;
}

#home .welcome {
  width: 100%;
  height: 100vh;
  display: grid;
  align-content: center;
  justify-content: center;
  text-align: center;
}

/*Projects*/
#my-work {
  width: 100%;
  height: auto;
}

.my-work .project {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}

.my-work .project .project-card {
  width: 100%;
  height: auto;
  padding: 10px;
  display: grid;
  grid-template-areas:
    "preview preview"
    "project-title project-title"
    "preview-site view-code";
  justify-items: center;
  gap: 20px;
  border-radius: 10px;
}

.my-work .project .project-card .project-title {
  grid-area: project-title;
  margin: 0;
}

.my-work .project .project-card .preview {
  grid-area: preview;
  width: 500px;
  height: 300px;
  cursor: pointer;
  border-radius: 10px;
}

.my-work .project .project-card .preview-site {
  grid-area: preview-site;
  text-decoration: none;
  background-color: var(--color4);
  color: var(--color2);
  width: 120px;
  height: 22px;
  padding: 10px;
  text-align: center;
  border-radius: 45px;
}

.my-work .project .project-card .preview-site:hover {
  background-color: var(--color2);
  color: var(--color5);
}

.my-work .project .project-card .view-code {
  grid-area: view-code;
  text-decoration: none;
  background-color: var(--color4);
  color: var(--color2);
  width: 120px;
  height: 22px;
  padding: 10px;
  text-align: center;
  border-radius: 45px;
}

.my-work .project .project-card .view-code:hover {
  background-color: var(--color2);
  color: var(--color5);
}

.footer {
  margin: 20px 0;
}
.social-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.social-container .email-me {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: auto;
}

.email-me #message {
  width: 300px;
  margin: 10px 0 20px 0;
  border-radius: 10px;
  border: none;
}

.email-me .submit-button {
  width: 300px;
  height: 30px;
}

.social-platform .social-media .fa-brands {
  width: 60px;
  font-size: 30px;
}
